<h2 class="box-label"><strong>Species</strong> of interest</h2>

<section class="box margb box-rounded">
	<div class="overflow pada2">
		<div class="col-right col-200">
			<div class="polaroid polaroid-200 polaroid-white">
				<img src="static/images/placeholders/morwong-180.jpg">
			</div>
		</div>
		<div class="margr-220">
			<h3 class="red nomargb">Blue Morwong</h3>
			<p class="lighter"><dfn>Nemadactylus valenciennesi</dfn></p>
			<h4>Identifying features</h4>
			<dl class="dl-horizontal">
				<dt>Adult</dt>
				<dd>Silver blue with wavy lines radiating out from the eyes</dd>
				<dt>Juvenile</dt>
				<dd>Look for yellow lines along the body and a black splotch on its side</dd>
				<dt>Size</dt>
				<dd>Around 60cm</dd>
				<dt>Habitat</dt>
				<dd>Exposed reef</dd>
			</dl>
			<p class="nomargb">
				<a href="#" class="button-red button-caps">View <strong>on the map</strong></a>
				<a href="#" class="button-blue button-caps"><strong>Read more</strong></a>
			</p>
		</div>
	</div>
	<span class="paperclip-right"></span>
</section><!-- /.box -->


<section class="box margb box-rounded">
	<div class="overflow pada2">
		<div class="col-right col-200">
			<div class="polaroid polaroid-200 polaroid-white">
				<img src="static/images/placeholders/morwong-180.jpg">
			</div>
		</div>
		<div class="margr-220">
			<h3 class="red nomargb">Blue Morwong</h3>
			<p class="lighter"><dfn>Nemadactylus valenciennesi</dfn></p>
			<h4>Identifying features</h4>
			<dl class="dl-horizontal">
				<dt>Adult</dt>
				<dd>Silver blue with wavy lines radiating out from the eyes</dd>
				<dt>Juvenile</dt>
				<dd>Look for yellow lines along the body and a black splotch on its side</dd>
				<dt>Size</dt>
				<dd>Around 60cm</dd>
				<dt>Habitat</dt>
				<dd>Exposed reef</dd>
			</dl>
			<p class="nomargb">
				<a href="#" class="button-red button-caps">View <strong>on the map</strong></a>
				<a href="#" class="button-blue button-caps"><strong>Read more</strong></a>
			</p>
		</div>
	</div>
	<span class="paperclip-right"></span>
</section><!-- /.box -->



<section class="box margb box-rounded">
	<div class="overflow pada2">
		<div class="col-right col-200">
			<div class="polaroid polaroid-200 polaroid-white">
				<img src="static/images/placeholders/morwong-180.jpg">
			</div>
		</div>
		<div class="margr-220">
			<h3 class="red nomargb">Blue Morwong</h3>
			<p class="lighter"><dfn>Nemadactylus valenciennesi</dfn></p>
			<h4>Identifying features</h4>
			<dl class="dl-horizontal">
				<dt>Adult</dt>
				<dd>Silver blue with wavy lines radiating out from the eyes</dd>
				<dt>Juvenile</dt>
				<dd>Look for yellow lines along the body and a black splotch on its side</dd>
				<dt>Size</dt>
				<dd>Around 60cm</dd>
				<dt>Habitat</dt>
				<dd>Exposed reef</dd>
			</dl>
			<p class="nomargb">
				<a href="#" class="button-red button-caps">View <strong>on the map</strong></a>
				<a href="#" class="button-blue button-caps"><strong>Read more</strong></a>
			</p>
		</div>
	</div>
	<span class="paperclip-right"></span>
</section><!-- /.box -->		