<div class="box-paper-big">
	<div class="box-paper-big-wrap">
		<div class="overflow">
			<div class="col col-200">								
				<img src="static/images/placeholders/scientist-big.jpg" class="polaroid-small">
			</div>
			<div class="margl-200 padl">
				<h2 class="red nomargb">Meet the scientists</h2>
				<h3 class="bold">Dr Sean Tracy</h3>
				<p>My research is mainly focused around fisheries. Recently I have been working on a range of projects that span assessing the global harvest of marine fish to look at the trends in harvest over time across the&hellip; <a href="#">Read more</a></p>
			</div>					
		</div>
	</div>
	<span class="paperclip-left"></span>
</div><!-- /.box-paper-big -->				