<div class="form-actions">
	<span class="page-current">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	</span>
	<span class="page-links pull-right">
		{% if page_obj.has_previous %}
			<a href="{{ current_url }}?page={{ page_obj.previous_page_number }}{% if filter_url_args %}{{ filter_url_args }}{% endif %}" class="btn"><i class="icon-chevron-left"></i></a>
		{% endif %}
		{% if page_obj.has_next %}
			<a href="{{ current_url }}?page={{ page_obj.next_page_number }}{% if filter_url_args %}{{ filter_url_args }}{% endif %}" class="btn"><i class="icon-chevron-right"></i></a>
		{% endif %}
	</span>
</div>