{% extends "backend/validation_rules.html" %}

{% load i18n bootstrap_tags backend_extras %}

{% block content %}
<form action="{% url delete_validation_rule rule.id %}" method="POST">{% csrf_token %}
    <fieldset>
        <legend>Are you sure you want to delete this validation rule?</legend>
        <h4>{{ rule.name }}</h4>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url validation_rules %}" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
{% endblock %}
