{% extends "backend/panel_base.html" %}

{% load i18n thumbnail backend_extras %}

{% block panel_nav %}
    {% navtabs "Content" request.user %}
{% endblock %}

{% block panel_sub_nav %}
    {% panel_content "Faq" %}
{% endblock %}

{% block content %}

	<div class="actions">
        <p><a href="{% url faq_add %}" class="btn btn-large btn-primary"><i class="icon-plus-sign icon-white"></i> Add new FAQ</a></p>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="center" style="width:50px">Order</th>
				<th>Title</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			{% for faq in faqs %}
				<tr>
					<th class="center">{{ faq.order }}</th>
					<th>
						<a href="{% url faq_edit faq.pk %}" title="Edit">{{ faq.title }}</a>
					</th>
					<td class="right">
						<a href="{% url faq_edit faq.pk %}" class="btn">Edit</a>
					</td>
				</tr>
			{% empty %}
				<tr>
					<td colspan="3" class="center">No FAQs</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
