{% extends "backend/organisation_index.html" %}

{% load i18n bootstrap_tags backend_extras %}

{% block content %}
<form enctype="multipart/form-data" class="form-horizontal" action="{% url organisation_index %}{% if pk %}edit/{{ pk }}{% else %}add{% endif %}/" method="POST">{% csrf_token %}
    <fieldset>
        <legend>{% if pk %}Edit{% else %}Add{% endif %} organisation</legend>
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% if pk %}Save{% else %}Add{% endif %} organisation</button>
            <a href="{% url organisation_index %}" class="btn">Cancel</a>
            {% if pk %}
            <span class="pull-right">
                <a href="{% url organisation_delete pk %}" class="btn btn-danger">Delete</a>
            </span>
            {% endif %}
        </div>
    </fieldset>
</form>
{% endblock %}
