{% extends "backend/sponsor_index.html" %}

{% load i18n bootstrap_tags backend_extras %}

{% block content %}
<form action="{% url sponsor_delete sponsor.id %}" method="POST">{% csrf_token %}
    <fieldset>
        <legend>Are you sure you want to delete <strong>"{{ sponsor.name }}"</strong></legend>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url sponsor_index %}" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
{% endblock %}
