{% extends "backend/sponsor_index.html" %}

{% load i18n bootstrap_tags backend_extras %}

{% block content %}
<form enctype="multipart/form-data" class="form-horizontal" action="{% url sponsor_category_index %}{% if pk %}edit/{{ pk }}{% else %}add{% endif %}/" method="POST">{% csrf_token %}
    <fieldset>
        <legend>{% if pk %}Edit{% else %}Add a{% endif %} category</legend>
        {{ form|as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn-large"><i class="icon-ok-circle icon-white"></i> Save</button>
            <a href="{% url sponsor_category_index %}" class="btn btn-large">Cancel</a>
            {% if pk %}
				<span class="pull-right">
					<a href="{% url sponsor_category_delete pk %}" class="btn btn-danger">Delete</a>
				</span>
            {% endif %}
        </div>
    </fieldset>
</form>
{% endblock %}
