{% extends "accounts/base.html" %}

{% load bootstrap_tags i18n ifsetting_tag %}

{% block head_title %}{% trans "Password changed" %}{% endblock %}

{# {% block region_navigation %}{% endblock %} #}
{# {% block site_navigation %}{% endblock %} #}

{% block section_title %}
	<h1>Password changed</h1>
{% endblock %}

{% block account_content %}

    <div class="row">
        <div class="span12">

            <h2 class="page-header">Password changed</h2>

			<p>Your password has been changed!</p>

        </div>

    </div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script>
    $(document).ready(function(){
       $("#id_username").focus();
     });
</script>
{% endblock %}
