{% extends "site_base.html" %}

{% load bootstrap_tags i18n ifsetting_tag %}

{% block head_title %}{% trans "Password reset complete" %}{% endblock %}

{# {% block region_navigation %}{% endblock %} #}
{# {% block site_navigation %}{% endblock %} #}

{% block section_title %}
	<h1>Password reset complete</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">

            <h2 class="page-header">Password reset complete</h2>

			<p>Your password has been reset!  You may now <a href="{{ login_url }}">log in</a>.</p>
        </div>

    </div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script>
    $(document).ready(function(){
       $("#id_username").focus();
     });
</script>
{% endblock %}
