{% extends "site_base.html" %}

{% load bootstrap_tags i18n ifsetting_tag %}

{% block head_title %}{% trans "Forgot your password" %}{% endblock %}

{# {% block region_navigation %}{% endblock %} #}
{# {% block site_navigation %}{% endblock %} #}

{% block section_title %}
	<h1>Forgot your password?</h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">

            <h2 class="page-header">Forgot your password?</h2>

			<p>Enter your email in the form below and we'll send you instructions for creating a new one.</p>
			<form method='post' action='' class="form-horizontal">{% csrf_token %}
			    {{ form|as_bootstrap }}
			    <div class="form-actions"><input type='submit' value="Reset password" class="btn btn-primary btn-large" ></div>
			</form>

        </div>

    </div>
{% endblock %}

{% block extra_body %}
{{ block.super }}
<script>
    $(document).ready(function(){
       $("#id_username").focus();
     });
</script>
{% endblock %}
