{% extends "backend/panel_base.html" %}

{% load frontend_tags %}
{% load i18n backend_extras thumbnail %}

{% block panel_nav %}
    {% navtabs "Sightings" request.user %}
{% endblock %}


{% block panel_sub_nav %}
    {% panel_sightings "All sightings" %}
{% endblock %}

{% block extra_head %}
	<!-- Chosen -->
	<link href="{{ STATIC_URL }}css/chosen/chosen.css" rel="stylesheet">

	<!-- jQuery UI -->
	<link href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-1.8.18.custom.css" rel="stylesheet">

	<!-- OpenLayers -->
	<link href="{{ STATIC_URL }}openlayers/theme/default/style.css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
	<!-- Chosen -->
	<script src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>

	<!-- jQuery UI -->
	<script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>

	<!-- Google Maps -->
	<script src="//maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>

	<!-- OpenLayers -->
	<script src="{{ STATIC_URL }}openlayers/OpenLayers.js"></script>
	<script>
	$(document).ready(function() {

		// Accuracy list
		var accuracies = new Object();
		{% for a, b in accuracies.items %}
			accuracies[{{ a }}] = {{ b }};
		{% endfor %}

		// Initialize map
		var map = new OpenLayers.Map('ol_map', {
			minZoomLevel: 2,
			projection: new OpenLayers.Projection("EPSG:900913"),
			displayProjection: new OpenLayers.Projection("EPSG:4326"),
			maxResolution: 'auto',
			maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
			units: "m",
		});
		map.addControl(new OpenLayers.Control.Navigation());
		map.addControl(new OpenLayers.Control.ScaleLine());

		// Create layers
		var wms = new OpenLayers.Layer.Google(
			"Google Maps",
			{numZoomLevels: 20}
		);
		var vectors = new OpenLayers.Layer.Vector('Vectors');
		var markers = new OpenLayers.Layer.Markers('Markers');

		// Create species distribution layer
		var imasbiodiv = new OpenLayers.Layer.WMS(
			'IMASBioDiv-dev',
			'{{ geoserver_url }}',
			{
				layers: 'redmap:MB_SPECIES_DISTRIBUTION_REDMAP_VIEW',
				transparent: true,
				format: 'image/png',
				tiled: true,
				{% if sighting.species %}
				cql_filter: '(ID={{ sighting.species.id }})',
				{% else %}
				cql_filter: '(ID=0)',
				{% endif %}
			},
			{isBaseLayer: false}
		);

		// Add layers to map
		map.addLayers([wms, vectors, imasbiodiv, markers]);

		// Handle marker logic //

		var longitude = $("#id_{{ wizard.steps.current }}-longitude");
		var latitude = $("#id_{{ wizard.steps.current }}-latitude");
		var accuracy = $("#id_{{ wizard.steps.current }}-accuracy");

		var marker, circle;

		// Define map projections
		var googleProjection = new OpenLayers.Projection("EPSG:900913");
		var usefulProjection = new OpenLayers.Projection("EPSG:4326");

		// Setup icon for marker
		// Setup icon for marker
		var size = new OpenLayers.Size(21,32);
		var offset = new OpenLayers.Pixel(-6, -size.h);
		var icon = new OpenLayers.Icon(
			'{{ STATIC_URL }}/reskin/images/marker-32-blue.png',
			size,
			offset
		);

		/**
		 * When the map is clicked, create a marker at specified location
		 */
		map.events.register('click', map, function(e) {

			// Find position clicked
			var position = map.getLonLatFromPixel(e.xy);

			position.transform(googleProjection, usefulProjection);

			// Update lat/lng form fields
			longitude.val(position.lon);
			latitude.val(position.lat);

			position.transform(usefulProjection, googleProjection);

			addMarker(position);
		});

		/**
		 * When the map is zoomed, center on the sighting marker (if it exists)
		 */
		map.events.register('zoomend', map, function(e) {
			if (marker) {
				map.setCenter(marker.lonlat);
			}
		});

		/**
		 * Updates the marker position on the map based on lat/lng form fields
		 */
		var updateMap = function() {

			var position = new OpenLayers.LonLat(longitude.val(), latitude.val()).transform(usefulProjection, googleProjection);

			addMarker(position);
		};

		/**
		 * Adds or updates a marker on the map
		 */
		var addMarker = function(position) {

			// Check for invalid coordinates
			if(isNaN(position.lat) || isNaN(position.lon)) {
				return 1;
			}

			// Add marker to map
			if(marker != null) {
				markers.removeMarker(marker); // Remove marker if it already exists
			}
			marker = new OpenLayers.Marker(position, icon);
			markers.addMarker(marker);

			// Add accuracy circle to map
			if(circle != null) {
				vectors.removeFeatures(circle); // Remove circle if it exists
			}
			var point = OpenLayers.Geometry.Polygon.createRegularPolygon(
				new OpenLayers.Geometry.Point(position.lon, position.lat),
				accuracies[accuracy.val()] / 2, // radius
				30
			);
			circle = new OpenLayers.Feature.Vector(point);
			vectors.addFeatures(circle);
		}

		// Listen for updates to lat/lng form fields
		longitude.change(updateMap);
		latitude.change(updateMap);
		accuracy.change(updateMap);

		// Perform initial update
		updateMap();

		// Zoom map
		var aussieBounds = new OpenLayers.Bounds();
		if(circle == null || isNaN(circle.geometry.getBounds().top)) {
			aussieBounds.extend(new OpenLayers.LonLat(110.21484, -13.92340).transform(usefulProjection, googleProjection));
			aussieBounds.extend(new OpenLayers.LonLat(159.94922, -43.32518).transform(usefulProjection, googleProjection));
		} else {
			aussieBounds.extend(circle.geometry.getBounds());
		}
		map.zoomToExtent(aussieBounds);
		if(map.getZoom() > 8) {
			map.zoomTo(8);
		}
	});
	</script>

	<script>
	$(document).ready(function() {
		$("#id_{{ wizard.steps.current }}-species").change(function(e) {
			$(".species-thumbnail").addClass('hidden');
			$("#species_" + $(this).val()).removeClass('hidden');
		}).trigger('change');
	});
	</script>

	{% block step_script %}
	<script>
	$(document).ready(function() {
		// Chosen
		$("select").chosen();

		// jQuery UI
		$("#{{ wizard.form.sighting_date.auto_id }}").datepicker({
			dateFormat: 'yy-mm-dd'
		});
	});
	</script>
	{% endblock %}

{% endblock %}

{% block content %}
	
	<form action="{% url verify_sightings sighting.id %}" method="post">
		{% csrf_token %}
		
		<hgroup id="title">		
			<div class="actions pull-right">
				{% if wizard.steps.prev %}
					<button name="wizard_prev_step" value="{{ wizard.steps.prev }}" class="btn btn-large"><i class="icon-chevron-left"></i> {% trans "Prev step" %}</button>
				{% endif %}
				
				<button
					type="submit"
					name="submit"			
					class="btn btn-large btn-primary">
						&nbsp;
					{% if wizard.steps.current == '1' %}
						{% trans "Submit" %}
					{% else %}
						{% trans "Next step" %}
					{% endif %}
					<i class="icon-chevron-right icon-white"></i>
				</button>
			</div>
			
			<h1>Verify sighting {{ sighting.id }}</h1>
			<h3 class="nobold lighter">
				{{ sighting.species_name }}
				(<dfn>{{ sighting.common_name }}</dfn>)
			</h3>
		</hgroup><!-- /#title -->
		
		
		{{ wizard.form.non_field_errors }}
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
			{{ wizard.form.management_form }}
			{% for form in wizard.form.forms %}
				{{ form.as_p }}
			{% endfor %}
		{% else %}
		
		
		
			<div class="row">
				<div class="span6">
					<div class="actions pull-left">
						<a href="{% url sighting_spam sighting.id %}" class="btn btn-danger">Mark as spam</a>
						<a href="{% url sighting_reassign sighting.id %}" class="btn">Re-assign</a>
					</div>
					
					{% if sighting_tracking %}
						{% for tracking in sighting_tracking %}
							<table class="table table-bordered">
								<tbody>
									<tr>
										<th>Logged on</th>
										<td>
											{{ sighting.logging_date|date:"j F, Y" }}
											{{ sighting.logging_date|date:"g:iA"|lower }}
										</td>
									</tr>
									<tr>
										<th>Sighted by</th>
										<td>
											{{ tracking.sighting.user.profile.get_link }}
										</td>
									</tr>
									<tr>
										<th>Scientist</th>
										<td>{{ tracking.person.profile.display_name }}</td>
									</tr>
									<tr>
										<th>Status</th>
										<td>
											{% include "backend/_sighting_tracking_status.html" with tracking=tracking.sighting_tracking_status %}
										</td>
									</tr>
									<tr>
										<th>Comment</th>
										<td>{{ tracking.comment|safe|linebreaksbr }}</td>
									</tr>
								</tbody>
							</table>
						{% endfor %}
					{% endif %}
				</div>
			</div><!-- /.row -->
			
			{# Only ask for photo validation if there is one... #}
			{% if sighting.photo_url %}

				<div class="row">
					<div class="span6 margb2">
						<div>
							{% with shape=shape|default:'454x339' %}
								{% with lightbox_shape=lightbox_shape|default:"800x600" %}
									{% thumbnail sighting.photo_url shape upscale="True" as im %}
										{% thumbnail sighting.photo_url lightbox_shape upscale="False" crop="center" as lightbox_im %}
											<div class='thumbnail'>
												<a href="{{ lightbox_im.url }}" class="lightbox lightbox-image">
													<img src="{{ im.url }}" style="margin:{{ im|margin:shape }}">
												</a>
												<p class="caption">
													{{ wizard.form.photo_caption }}
												</p>
												<p class="caption">
												<a href="{{ sighting.photo_url.url }}" target="_blank">View full image</a>
												</p>
											</div>
										{% endthumbnail %}
									{% empty %}
										<div style="width:454px; height:339px" class="thumbnail thumbnail-placeholder"><span>No image found</span></div>
									{% endthumbnail %}
								{% endwith %}
							{% endwith %}
						</div>
										
					</div>
					
					<div class="span6">
						<fieldset>						
							<legend>Verify photo</legend>
							
							<div class="control-group">
								<label for="{{ wizard.form.photo_radiogroup.auto_id }}">{{ wizard.form.photo_radiogroup.label }}</label>
								<div class="controls checkbox">
									{{ wizard.form.photo_radiogroup }}
								</div>
								{{ wizard.form.photo_radiogroup.errors }}
							</div>
						</fieldset>

						{% if wizard.form.photo_checkboxes %}
							{{ wizard.form.photo_checkboxes|as_bootstrap_checkbox }}
						{% endif %}							
					</div>
					
				</div><!-- /.row -->
			{% endif %}
			
			
			<div class="row">
				<div class="span6 margb2">
					<div class="thumbnail">
						<div id="ol_map" style="width:454px;height:339px;"></div>
					</div>		
										
				</div>
				
				<div class="span6">				
					{% if wizard.form.location_checkboxes %}
						<fieldset>
							<legend>Verify location</legend>
							{{ wizard.form.location_checkboxes|as_bootstrap_checkbox }}
						</fieldset>
					{% endif %}					
				</div>
			</div><!-- /.row -->
			
			<div class="row">
				<div class="span6 margb2">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Sighting details</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>{{ wizard.form.species.label }}</th>
								<td>
									{{ wizard.form.species.errors }}{{ wizard.form.species }}
								</td>
							</tr>
							<tr>
								<th>{{ wizard.form.other_species.label }}</th>
								<td>
									{{ wizard.form.other_species.errors }}{{ wizard.form.other_species }}
								</td>
							</tr>
							<tr>
								<th>Gender</th>
								<td>{{ wizard.form.sex.errors }}{{ wizard.form.sex }}</td>
							</tr>
							<tr>
								<th>Size method</th>
								<td>{{ wizard.form.size_method.errors }}{{ wizard.form.size_method }}</td>
							</tr>
							<tr>
								<th>Size (Length)</th>
								<td class="input-append">
									{{ wizard.form.size.errors }}{{ wizard.form.size }}
									<span class="add-on">cm</span>
								</td>
							</tr>
							<tr>
								<th>Weight</th>
								<td>{{ wizard.form.weight.errors }}{{ wizard.form.weight }}</td>
							</tr>
							<tr>
								<th>Count</th>
								<td>{{ wizard.form.count.errors }}{{ wizard.form.count }}</td>
							</tr>
							<tr>
								<th>When</th>
								<td>
									{{ wizard.form.sighting_date.errors }}
									{{ wizard.form.time.errors }}

									{{ wizard.form.sighting_date }}
									{{ wizard.form.time }}
								</td>
							</tr>
							<tr>
								<th>Location</th>
								<td>
									{{ wizard.form.latitude.errors }}
									<div class="input-append">
										{{ wizard.form.latitude }}
										<span class="add-on">latitude</span>
									</div>
									{{ wizard.form.longitude.errors }}
									<div class="input-append">
										{{ wizard.form.longitude }}
										<span class="add-on">longitude</span>
									</div>
								</td>
							<tr>
								<th>Accuracy</th>
								<td>{{ wizard.form.accuracy.errors }}{{ wizard.form.accuracy }}</td>
							</tr>
							</tr>
							<tr>
								<th>Activity</th>
								<td>{{ wizard.form.activity.errors }}{{ wizard.form.activity }}</td>
							</tr>
							<tr>
								<th>Comment</th>
								<td>{{ wizard.form.notes.errors }}{{ wizard.form.notes }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="span6">
					{% if wizard.form.characteristics_checkboxes %}
						<fieldset>
							<legend>Verify reported characteristics</legend>
							{{ wizard.form.characteristics_checkboxes|as_bootstrap_checkbox }}
						</fieldset>
					{% endif %}
				</div>
			</div><!-- /.row -->
			
			<div class="overflow">
				<div class="actions pull-right">
					<button
					type="submit"
						name="submit"
						class="btn btn-large btn-primary">
							&nbsp;
						{% if wizard.steps.current == '1' %}
							{% trans "Submit" %}
						{% else %}
							{% trans "Next step" %}
						{% endif %}
						<i class="icon-chevron-right icon-white"></i>
					</button>
				</div>
			</div>
		{% endif %}
	</form>	
	
{% endblock %}




