{% extends "news/entries_list.html" %}

{% load i18n bootstrap_tags backend_extras %}

{% block content %}
<form action="{% url news_entries_list %}delete/{{ entry.pk }}/" method="POST">{% csrf_token %}
    <fieldset>
        <legend>Are your sure you want to delete <strong>"{{ entry.title }}"</strong>?</legend>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url news_entries_list %}" class="btn">Cancel</a>
        </div>
    </fieldset>
</form>
{% endblock %}
